<!-- 公共脚本区 start -->
<!--[if lt IE 9]>
    <script src="static/vendors/jquery-1.12.4.min.js"></script>
    <script src="static/vendors/jquery-migrate-1.4.1.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|(! IE)]><!-->
<script src="static/vendors/jquery-3.3.1.min.js"></script>
<script src="static/vendors/jquery-migrate-1.4.1.min.js"></script>
<script src="static/vendors/jquery-migrate-3.0.0.min.js"></script>
<!--<![endif]-->

<script src="static/vendors/babel-polyfill/browser.js"></script>
<script src="static/javascripts/request-animation-frame.js"></script>
<script src="static/vendors/vue/vue.min.js"></script>
<script src="static/vendors/lodash/lodash.js"></script>
<script src="static/vendors/rxjs/rxjs.umd.min.js"></script>
<script src="static/vendors/moment/moment.min.js"></script>

<script src="static/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="static/vendors/fuelux/js/fuelux.min.js"></script>
<!-- 公共脚本区 end -->

<!-- 插件脚本区 start -->
<script src="static/vendors/layui/layui.js"></script>
<script src="static/vendors/layer/layer.js"></script>
<script src="static/vendors/fullpage/vendors/easings.min.js"></script>
<script src="static/vendors/fullpage/vendors/scrolloverflow.min.js"></script>
<script src="static/vendors/fullpage/dist/fullpage.min.js"></script>
<script src="static/vendors/metismenu/metisMenu.min.js"></script>
<script src="static/vendors/slimscroll/jquery.slimscroll.min.js"></script>
<!-- 插件脚本区 end -->

<!-- 自定义脚本区 start -->
<script src="static/javascripts/global-config.js"></script>

<script src="static/frame/js/hplus.min.js"></script>
<script src="static/frame/js/contabs.min.js"></script>

<script src="static/javascripts/check-login.js"></script>
<script src="static/javascripts/index.js"></script>
<!-- 自定义脚本区 end -->