.webuploader-container{
  vertical-align: middle;
  .webuploader-pick{
    color: #23c7ed;
    padding : 0;
    background-color : transparent;
    &-hover{
      background-color : transparent;
    }
  }
  & > div:nth-child(2){
    left :0 !important;
    width :100% !important;
  }
}
