.el-select.el-select--small {
  .el-select__tags {
    width: 308px !important;
    max-width: 308px !important;
    .el-select__input.is-small {
      width: 100% !important;
      max-width: 100% !important;
      color: #000;
      font-size: 12px;
    }
  }
}
