.el-table {
  .el-table__header-wrapper {
    .el-table__header {
      .has-gutter {
        tr {
          th {
            border-right: 1px solid #EEE;
            padding: 0;
            &:last-child {
              border: 0 !important;
            }
          }
        }
      }
    }
    .el-table__body-wrapper {
      .el-table__body {
        tr {
          td {
            border-right: 1px solid #EEE;
            padding: 0;
            &:last-child {
              border: 0 !important;
            }
          }
        }
      }
    }
  }
}
.el-table__body tr.current-row>td {
  background-color: #6699CC !important;
}
