#login {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #3399FF;
  -webkit-user-select: none;
  .login-top {
    width: 100%;
    height: 143px;
    background-color: #0099CC;
    -webkit-app-region: drag;
    .login-top-menu-or-close-wrapper {
      text-align: right;
      .login-top-btn {
        z-index: 1;
        position: relative;
        color: #fff;
        background-color: #0099CC;
        padding: 4px 0;
        -webkit-app-region: no-drag;
      }
      .login-top-menu {
        font-size: 16px;
        &:hover {
          color: blue;
        }
      }
      .login-top-close {
        font-size: 16px;
        padding: 4px 15px;
        &:hover {
          background-color: red;
        }
      }
    }
    .login-top-banner {
      .login-top-banner-title {
        font-size: 34px;
        font-family: 'Microsoft Yahei';
        color: #fff;
        padding-left: 26px;
        vertical-align: bottom;
        &:before {
          content: '';
          display: inline-block;
          width: 50px;
          height: 40px;
          vertical-align: bottom;
          margin-right: 4px;
          background: url('../../images/dsw-logo.png') no-repeat scroll 0 0/ 100% 100%;
        }
      }
      .login-top-banner-discription {
        font-size: 20px;
        font-family: 'Microsoft Yahei';
        color: #fff;
        text-align: center;
        padding-top: 24px;
        .login-top-banner-discription-common {
          margin: 0 16px;
          vertical-align: middle;
          .login-top-banner-icon {
            width: 36px;
            height: 30px;
            vertical-align: middle;
            margin-right: 4px;
          }
        }
      }
    }
  }
  .login-bottom {
    .login-userlogin-wrapper {
      text-align: center;
      padding-top: 36px;
      .login-user-wrapper
      .login-password-wrapper {
        .login-input-common-frame {
          .login-input-icon-common {
            width: 28px;
            height: 28px;
            vertical-align: middle;
            margin-right: 10px;
          }
          .login-input-common {
            width: 252px;
            height: 28px;
            font-size: 15px;
            vertical-align: middle;
          }
        }
      }
      .login-password-wrapper {
        margin-top: 20px;
      }
    }
    .login-button-wrapper {
      text-align: center;
      padding-top: 20px;
      .login-btn-common {
        padding: 8px 30px;
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        margin: 0 5px;
      }
      .login-btn {
        background-color: #0099CC;
      }
      .login-certificate {
        background-color: #66FF66;
      }
      .login-sign-in {
        background-color: #FF6600;
      }
    }
    .login-copy-wrapper {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #666;
      // .login-copy {
      //   white-space: nowrap;
      // }
      .login-copy-corporation {
        margin: 0 120px;
      }
    }
  }
}
