// +prefix-classes('bl-take-down-query-') {
//   .wrapper{
//     width 100%
//     height 100%
//   }

//   .content{

//   }
// }
#bl-take-down-query-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #3366FF;
  background-color: #FFF;
  -webkit-user-select: none;
  .gs-content-wrapper {
    height: calc(100% - 40px)
  }
  .gs-table-wrapper .el-table .el-table__header-wrapper .el-table__header {
    background-color: #fff;
  }
  .el-table thead {
    color: #000;
  }
  .templateManage-top {
    width: 100%;
    height: 40px;
    background-color: #3366FF;
    -webkit-app-region: drag;
    overflow: hidden;
    .templateManage-top-title-wrapper {
      float: left;
      height: 100%;
      .templateManage-top-back {
        position: relative;
        display: inline-block;
        width: 74px;
        height: 100%;
        text-align: center;
        line-height: 40px;
        background-color: #336699;
        cursor: pointer;
        -webkit-app-region: no-drag;
        vertical-align: middle;
        &:hover {
          background-color: #3366CC;
        }
        .templateManage-top-back-pic {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 52%;
          height: 60%;
        }
      }
      .templateMnage-top-title {
        font-weight: 700;
        font-family: 'Microsoft Yahei';
        color: #FFF;
        vertical-align: middle;
      }
    }
    .templateManage-top-operation-wrapper {
      float: right;
      padding-top: 4px;
      .templateMnage-top-unit {
        display: inline-block;
        color: #fff;
        margin-right: 40px;
      }
      .templateMnage-top-operation {
        display: inline-block;
        color: #fff;
        text-align: right;
        padding-right: 10px;
        .templateMnage-top-operation-btn-common {
          display: inline-block;
          width: 17px;
          height: 17px;
          cursor: pointer;
          vertical-align: middle;
          margin-right: 4px;
          -webkit-app-region: no-drag;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .templateMnage-top-operation-minimize
        .templateMnage-top-operation-close {
          display: inline-block;
          padding: 5px 10px;
          cursor: pointer;
          vertical-align: top;
          -webkit-app-region: no-drag;
          img {
            vertical-align: top;
            margin-top: 7px;
          }
          &:hover {
            background-color: red;
          }
        }
      }
    }
  }
  .bl-take-down-query-content {
    .bl-take-down-query-content-left {
      width: 200px;
      height: 100%;
      float: left;
    }
    .bl-take-down-query-content-right {
      width: calc(100% - 200px)
      height: 100%;
      float: left;
      .bl-take-down-query-content-right-search {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-left: 5px;
        .bl-take-down-query-content-right-search-input {
          width: 318px;
        }
        .bl-take-down-query-content-right-search-btn {
          color: #fff;
          background-color: #36f;
          border-radius: 2px;
          padding: 4px 10px;
        }
      }
      .bl-take-down-query-content-right-content {
        width: 100%;
        height: calc(100% - 40px);
        .bl-take-down-query-content-table {

        }
        .bl-take-down-query-content-table-pagination-wrapper {
          text-align: center;
        }
      }
    }
  }
}
