+prefix-classes('bl-take-down-dialog-') {
  .header{
  }

  .body{
    display flex
    height: 100%
    flex-flow: row nowrap
    justify-content: space-between
    align-content: stretch
    align-items: flex-start

    .scroll {
      height 100%
      flex: 1 1 33.333333%
      padding-right: 10px

      &:not(:last-child) {
        border-right: 1px solid #ccc
        margin-right: 10px
      }
    }

    .lists{

    }

    .item{

      &:not(:last-child) {
        margin-bottom: 6px
      }
    }

    .item-wrapper{
      cursor pointer

      &.item-active{
        background-color: #a9eab9
      }
    }
  }

  .footer{
  }

  .type {
  }

  .confirm {
  }
}

.bl-take-down-dialog-wrapper{

  .el-dialog__body {
    height 320px
  }
}
