+prefix-classes('bl-take-down-make-') {
  .wrapper{
    width 100%
    height 100%
  }

  .content{

  }

  .content-wrapper{
    display flex
  }

  .content-left{
    flex 0 0 640px
    margin-right 10px
  }

  .content-center {
    flex 1 1 auto
  }

  .content-right{
    flex 0 0 320px
    height 100%

    .content-right-template {
      width 100%
      height 100%

      .hint {
        font-size 12px
        color red
        padding 10px 0
      }

      .content-right-template-frame {
        border-top 1px solid #ccc
        padding 10px 0
        cursor pointer

        &:last-child {
          color #0099CC
          border-bottom 1px solid #ccc
        }

        &.template-active {
          background-color #0099FF
          color #000
        }
      }
    }
  }

  .form {

  }

  .form-header {
    display flex
    justify-content space-between
    align-items center
    background-color #03A9F4
  }

  .form-tips {

  }

  .form-start {

  }

  .form-title {

  }

  .form-trial {

  }

  .form-expand {

  }

  .form-save {

  }
}

.el-picker-panel__body{
  .el-input__inner {
    width inherit !important
    height inherit !important
    line-height inherit !important
    border-radius inherit !important
  }
}
