@import './functions.styl'

// 设计稿尺寸
$clientWidth = px2rem(1920px)
$clientHeight = 1080px

// 整体风格
$globalFontColor = #23c7ed
$globalFontSize = px2rem(16px)

// 首页
$indexLogoFontSize = px2rem(36px)
$indexLeftNavFontSize = px2rem(24px)
$indexLeftSubNavFontSize = px2rem(18px)
$indexNavActiveFontColor = #ff9700
$indexTabFontSize = px2rem(24px)
$indexTabFontColor = #23c7ed
$indexTabActiveFontColor = #333333

// 登录页
$loginBtnFontSize = px2rem(36px)
$loginBtnFontColor = #f9f9f9
$loginBtnActiveOpacity = 0.8
$loginInputFontColor = #f9f9f9


// 查询相关
$searchBackgroundColor = #000e3b
$searchFontSize = px2rem(16px)
$searchBtnFontSize = px2rem(18px)

// 表格相关
$tableBackgroundColor = transparent
$tableBorderColor = #1a69a1
$tableHoverBackgroundColor = #001046
$tableActiveBackgroundColor = #18338c
$tableHeadFontSize = px2rem(18px)
$tableBodyFontSize = px2rem(16px)

// 表单相关
$formFieldBorderColor = #1a73bf
$formFieldFontColor = #23c7ed
$formFieldFontSize = px2rem(14px)
$formFieldBackgroundColor = #000e3b
$formReadonlyFontColor = #007995
$formReadonlyBackgroundColor = #000a2c
$formPlaceholderFontColor = #426bca

// 弹窗相关
$dialogWidth = px2rem(1100px)
$dialogHeight = 680px
$dialogFontSize = px2rem(14px)
$dialogBtnFontSize = px2rem(14px)
$dialogTitleFontSize = px2rem(18px)
$dialogTitleFontColor = #ff9700
$dialogSubTitleFontColor = #ff9700
$dialogStaticFontColor = #ffffff
