+prefix-classes('gs-dialog-') {
  .wrapper {
    position relative

    .box{
      position: absolute
      top 50%
      left: 50%
      transform: translate(-50%, -50%)
      margin: 0

      +prefix-classes('el-dialog__') {
        .header{
          padding: 10px 20px
          background-color: #36f
        }

        .body {
          overflow hidden
        }

        .footer {
          padding: 10px 20px
          background-color: #8eb2f7
        }
      }
    }

    .header {
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-content: center
      align-items: center
      color: #fff
    }

    .title {

    }

    .close {
      cursor pointer
    }

    .footer{
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-content: center
      align-items: center
      color: #fff
    }
  }
}
