#editor-wrapper {
  #editor {
    outline: none;
    height: 395px;
    border: 1px solid #ccc
    overflow-y: scroll;
    div, p {
      border-bottom: 1px solid #ccc
      padding: 4px 0;
    }
  }
}
