.gs-table-wrapper.not-ie {
    th.gutter:last-of-type {
      display: none !important;
    }
  }

.gs-table-wrapper {
  margin: 5px 5px 0;
  height: calc(100% - 37px);

  .el-table {
    background-color: transparent;

    tr, th {
      background-color: @background-color;
    }

    .el-table__header-wrapper {
      font-size: 20px;
      overflow: hidden;

      .el-table__header {
        background-color: #36f
      }
    }

    .el-table__body-wrapper {
      font-size: 18px;
      overflow: hidden;

      .el-table__body {
        .el-table__row {
          &:hover, &.current-row {
            color: #051d42;
          }
        }
      }
    }

    .el-table__footer-wrapper {
      font-size: 18px;
    }
  }
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #0a396a;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #7fbbf8;
}
