+prefix-classes('gs-title-bar-') {
  .wrapper {
    display flex
    height 48px
    flex-flow row nowrap
    justify-content space-between
    align-content center
    align-items center
    background-color #36f
    font-size 16px
    color #fff
  }

  .left {
    display flex
    flex 1 1 auto
    align-content stretch
    align-items center
  }

  .back{
    width 32px
    height @width
    line-height @height
    margin-right 24px
    text-align center
    cursor pointer
  }

  .right{
    display flex
    flex 1 1 auto
    justify-content flex-end
  }

  .userinfo{
    margin-right 24px
  }

  .message-lists,
  .system-lists{
    display flex
    align-items center

    & > li {
      margin-left 10px
      cursor pointer
    }
  }

  .message-lists {
    margin-right 32px
  }
}

.gs-title-bar-wrapper{

  .el-breadcrumb__inner {
    color #fff
  }

  .el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color #fff
  }

  .el-dropdown {
    color #fff
  }
}
