
@import "./variable.styl"
@import "./mixins.stylus"

html{
  dswHeight();
  font-size:10px;
  body{
    dswHeight();
    font-family : 'Microsoft YaHei'
    color : #23c7ed;
    font-size : 0.16rem;
    // 重置默认 padding 和 margin
    div,span,i,img,ul,ol,li,dl,dt,dd{
      padding :0;
      margin :0;
    }
    // 重置 border
    button{
      border: none;
    }
    ul,ol,li{
      list-style :none;
    }
    a:link, a:visited, a:hover, a:active{
      text-decoration : none;
    }
    button:focus,
    input:focus,
    textarea:focus,
    select:focus{
      outline :none;
    }
    // 修复 placeholder
    .dsw-placeholder-fixed{
      color : #ccc !important;
    }
  }
}
