
@import "./variable.styl"
@import "./mixins.stylus"

html{
  dswHeight();
  font-size:10px;
  body{
    dswHeight();
    font-family : 'Microsoft YaHei'
    ul,ol{
      list-style :none;
      padding :0;
    }
    a:link, a:visited, a:hover, a:active{
      text-decoration : none;
    }
  }
}
