placeholder(selector = '')
  {selector}::-webkit-input-placeholder
    {block}
  {selector}::-moz-placeholder
    {block}
  {selector}:-moz-placeholder
    {block}
  {selector}::-ms-input-placeholder
    {block}
