.ss-btn-wrapper{
  text-align center;
  .ss-btn{
    border none;
    outline none;
    cursor pointer;
    color #23c7ed;
    letter-spacing 5px;
    padding 8px 32px;
    font-size 18px;
    background url("../images/button-bg.png") no-repeat scroll 0 0/100% 100%;
    &:not(:last-child){
      margin-right 16px;
    }
    &:hover{
      transform scale(1.05);
    }
  }
}
