.layui-layer{
  background-color #0a2186
  .layui-layer-title {
    border-bottom 1px solid #0b157d
    color #13c2e0
    background-color #0b157d
  }
  .layui-layer-btn {
    border-color #1E9FFF
    background-color #070a4a
  }
}

.gs-layer{
  background-color transparent
  .layui-layer-content{
    overflow visible
  }
}
