.identity-invert-wrapper {
  height: 100%;
  position: relative;
  color: #fff;
  background: url(../images/identity-invert/identity-invert-bg.jpg) no-repeat scroll 0 0 / 100% 100%;
}

.identity-invert-box {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}

.identity-invert-title {
  font-size: 90px;
}

.identity-invert-tips {
  font-size: 45px;
  margin: 48px 0 60px;
}

.identity-invert-content {
  display: inline-block;
  overflow: hidden;
}

.identity-invert-photo-wrapper {
  float: left;
  margin-right: 32px;
  font-size: 0;
}

.identity-invert-photo-box {
  display: inline-block;
}

.identity-invert-photo-box:not(:last-child) {
  margin-right: 16px;
}

.identity-invert-photo-image {
  display: block;
  width: 180px;
  height: 240px;
}

.identity-invert-photo-description {
  text-align: center;
  font-size: 18px
}

.identity-invert-info {
  overflow: hidden;
}

.identity-invert-lists {}

.identity-invert-item {
  font-size: 28px;
  overflow: hidden;
}

.identity-invert-item:not(:last-child) {
  margin-bottom: 16px;
}

.identity-invert-item-name {
  min-width: 168px;
  float: left;
  text-align: right;
}

.identity-invert-item-content {
  text-align: left;
  overflow: hidden;
  color: #ffcd35;
  word-break: break-all;
}
