html {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft Yahei'
  body {
    width: 100%;
    height: 100%;
    line-height: normal;
    #app {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 100%;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
