@import '../functions.styl'

singleEllipsis = @block {
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
}

multipleEllipsis = @block {
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 3
  -webkit-box-orient vertical
}

generalMultipleEllipsis = @block{
  & {
    position relative
    line-height 1.4em unless @line-height
    /* 3 times the line-height to show 3 lines */
    height 4.2em unless @height
    overflow hidden

    &::after {
      content '...'
      font-weight bold
      position absolute
      bottom 0
      right 0
    }
  }
}
